<section class="app-home">
    <app-banner></app-banner>
    <br/>
    <app-container>
        <div class="card-wrapper">
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
        </div>
    </app-container>
</section>