.banner{
    display: block;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eceff1;
    p{
      padding: 17px 0px;
      margin: 0px;
      color: #403D58;
      font-size: 1.3rem;
      font-weight: 600;
    }
}