.app-product{
    .flex {
        display: flex;
        margin-top: 20px;
    }
    figure{
        margin: 0px;
        margin-right: 10px;
        img{
            background-color: #ededed;
            padding: 10px;
            width: 160px;
            margin: 10px;
        }
    }
    .card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 16px;
        margin-bottom: 40px;
    }
}