.app-product{
    .flex {
        display: flex;
        margin-top: 20px;
    }
    figure{
        margin: 0px;
        margin-right: 10px;
        img{
            background-color: #ededed82;
            padding: 10px;
            width: 160px;
            margin: 10px;
        }
    }
}