<section class="app-product">
    <app-container class="flex">
        <figure>
            <img mat-card-image src="../../../assets/imagens/050-hand.png" alt="Imagem de Veneza">
        </figure>
        <div class="header">
            <h1>{{ product.title }}</h1>
            <p>{{ product.description }}</p>
            <a routerLink="/cart" routerLinkActive="active" mat-raised-button color="primary">R$ 59,99</a>
        </div>
    </app-container>
    <br/>
    <br/>
    <app-container><hr/></app-container>
    <br/>
    <app-container>
        <h5>Others:</h5>
        <app-product-list></app-product-list>
    </app-container>
</section>