<section class="app-product">
    <app-container class="flex">
        <figure>
            <img mat-card-image src="../../../assets/imagens/050-hand.png" alt="Imagem de Veneza">
        </figure>
        <div class="header">
            <h1>Robot</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a routerLink="/cart" routerLinkActive="active" mat-raised-button color="primary">R$ 59,99</a>
        </div>
    </app-container>
    <br/>
    <br/>
    <app-container><hr/></app-container>
    <br/>
    <app-container>
        <h5>Others:</h5>
        <div class="card-wrapper">
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
            <app-card-product></app-card-product>
        </div>
    </app-container>
</section>