.app-card-product-cart{
    display: flex;
    justify-content: space-between;
    margin: 15px 0px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    figure{
        margin:0px;
        img{
            width: 50px;
        }
    }
    div{
        width: 85%;
        display: block;
    }
    h2{
        font-weight: 500;
        font-size: 1rem;
        width: 80%;
        margin: 0;
    }
    p{
        font-weight: 600;
        margin: 0;
    }
    a{
        margin-top: 7px;
    }
}